body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* List and main view styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 1px;

}


button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Form that's hidden by default */
.add-song-form-hidden {
  display: none;
}

/* Form that's shown to the right when toggled */
.add-song-form-show-right {
  display: block;
  float: right;
  width: 300px; /* adjust width as per your requirement */
  margin-right: 50px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
